html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background: $dark-grey;
    display: flex;
    flex-direction: column;
    font-family: $primary-font;
    min-height: 100vh;
    min-width: 100vw;
}

.main {
    align-items: center;
    color: $almost-white;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

input, textarea, button {
    font-family: $primary-font;
    font-size: 14px;
}

button {
    cursor: pointer;
}
