.welcome {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 25vh;
    width: 70vw;

    > div {
        margin-bottom: 30px;
    }

    h1 {
        font-weight: 300;
        text-transform: uppercase;
    }
}

.username-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
        background: $almost-white;
        border: 0;
        border-radius: 4px;
        color: $dark-grey;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        padding: 11px;

        &:focus {
            outline: none;
        }
    }

    // Error
    span {
        color: indianred;
        font-size: 12px;
    }

    button {
        background: $almost-white;
        border-radius: 4px;
        line-height: 16px;
        margin-top: 10px;
        padding: 10px 0;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {

    .welcome {
        width: 290px;

        > div {
            margin-bottom: 45px;
        }
    }

    .username-form {
        width: 100%;
    }
}
